<ul class="nav side-menu">
    <li class="noPointer"><p>Necesitas completar las anteriores para seguir avanzando.</p></li>
    <!-- Main menu -->
    <li class="{{#ifEq estudioActive 'family' }}current-page{{/ifEq}} {{# unless estudioId }}noPointer{{/unless}}">
        <a href="{{# if estudioId }}/estudio/?estudioId={{estudioId}}{{else}} {{/if}}">
            <i class="glyphicon glyphicon-home"></i> 1.- Familia
        </a>
    </li>
    <li class="{{#ifEq estudioActive 'members' }}current-page{{/ifEq}} {{# unless estudioId }}noPointer{{/unless}}">
        <a href="{{#if estudioId }}/members/{{else}}javascript:void(0){{/if}}">
            <i class="glyphicon glyphicon-user"></i> 2.- Integrantes
        </a>
    </li>
    <li class="{{#ifEq estudioActive 'transacctions' }}current-page{{/ifEq}} {{# unless estudioId }}noPointer{{/unless}}">
        <a href="{{# if estudioId }}/transactions/{{else}}javascript:void(0){{/if}}">
            <i class="glyphicon glyphicon-usd"></i> 3.- Ingresos y Egresos
        </a>
    </li>
    <li class="{{#ifEq this 'Rechazado' }}current{{/ifEq}} {{# unless estudioId }}noPointer{{/unless}}">
        <a href="{{# if estudioId }}/living/?estudioId={{estudioId}}{{else}}javascript:void(0){{/if}}">
            <i class="glyphicon glyphicon-thumbs-down"></i> 4.- Vivienda
        </a>
    </li>
    <li>
        <a id="nav_section_menu">
          <i class="glyphicon glyphicon-th-list"></i> 5.- Secciones
          <span class="glyphicon glyphicon-chevron-down"></span>
        </a>
        <ul class="nav child_menu">

            <li class="{{#ifEq section.numero 1 }}current-page{{/ifEq}} {{# unless estudioId }}noPointer{{/unless}}">
                <a id="seccion_link_1" href="{{# if estudioId }}/seccion/paso/1{{else}}javascript:void(0){{/if}}">
                    Sección 1
                </a>
            </li>
            <li class="{{#ifEq section.numero 2 }}current-page{{/ifEq}} {{# unless estudioId }}noPointer{{/unless}}">
                <a id="seccion_link_2" href="{{#if estudioId}}/seccion/paso/2{{else}}javascript:void(0){{/if}}">
                    Sección 2
                </a>
            </li>
            <li class="{{#ifEq section.numero 3 }}current-page{{/ifEq}} {{# unless estudioId }}noPointer{{/unless}}">
                <a id="seccion_link_3" href="{{# if estudioId }}/seccion/paso/3{{else}}javascript:void(0){{/if}}">
                    Sección 3
                </a>
            </li>
            <li class="{{#ifEq section.numero 4 }}current-page{{/ifEq}} {{# unless estudioId }}noPointer{{/unless}}">
                <a id="seccion_link_4" href="{{# if estudioId }}/seccion/paso/4{{else}}javascript:void(0){{/if}}">
                    Sección 4
                </a>
            </li>
            {{!-- <li class="{{#ifEq section.numero 5 }}current-page{{/ifEq}} {{# unless estudioId }}noPointer{{/unless}}">
                <a id="seccion_link_5" href="{{# if estudioId }}/seccion/paso/5{{else}}javascript:void(0){{/if}}">
                    Sección 5
                </a>
            </li> --}}
            <li class="{{#ifEq section.numero 6 }}current-page{{/ifEq}} {{# unless estudioId }}noPointer{{/unless}}">
                <a id="seccion_link_6" href="{{# if estudioId }}/seccion/paso/6{{else}}javascript:void(0){{/if}}">
                    Sección 6
                </a>
            </li>
            <li class="{{#ifEq section.numero 7 }}current-page{{/ifEq}} {{# unless estudioId }}noPointer{{/unless}}">
                <a id="seccion_link_7" href="{{# if estudioId }}/seccion/paso/7{{else}}javascript:void(0){{/if}}">
                    Sección 7
                </a>
            </li>
            <li class="{{#ifEq section.numero 8 }}current-page{{/ifEq}} {{# unless estudioId }}noPointer{{/unless}}">
                <a id="seccion_link_8" href="{{# if estudioId }}/seccion/paso/8{{else}}javascript:void(0){{/if}}">
                    Sección 8
                </a>
            </li>

        </ul>
    </li>
    <li class="{{#ifEq estudioActive 'upload' }}current-page{{/ifEq}} {{# unless estudioId }}noPointer{{/unless}}">
        <a href="{{# if estudioId }}/upload/{{else}}javascript:void(0){{/if}}">
            <i class="glyphicon glyphicon-upload"></i> 6.- Subir
        </a>
    </li>
</ul>
