<ul class="nav side-menu">
    <li class="noPointer"><p>Necesitas completar las anteriores para seguir avanzando.</p></li>
    <!-- Main menu -->
    <li class="{{#ifEq this 'Borrador' }}current{{/ifEq}} {{# unless estudioId }}noPointer{{/unless}}">
        <a href="{{# if estudioId }}/estudio/?estudioId={{estudioId}}{{else}} {{/if}}">
            <i class="glyphicon glyphicon-home"></i> 1.- Familia
        </a>
    </li>
    <li class="{{#ifEq this 'Borrador' }}current{{/ifEq}} {{# unless estudioId }}noPointer{{/unless}}">
        <a href="{{#if estudioId }}/members/{{else}}javascript:void(0){{/if}}">
            <i class="glyphicon glyphicon-user"></i> 2.- Integrantes
        </a>
    </li>
    <li class="{{#ifEq this 'Aprobado' }}current{{/ifEq}} {{# unless estudioId }}noPointer{{/unless}}">
        <a href="{{# if estudioId }}/transactions/{{else}}javascript:void(0){{/if}}">
            <i class="glyphicon glyphicon-usd"></i> 3.- Ingresos
        </a>
    </li>
    <li class="{{#ifEq this 'Rechazado' }}current{{/ifEq}} {{# unless estudioId }}noPointer{{/unless}}">
        <a href="{{# if estudioId }}/members/{{else}}javascript:void(0){{/if}}">
            <i class="glyphicon glyphicon-picture"></i> 4.- Vivienda
        </a>
    </li>
    <li>
        <a>
          <i class="glyphicon glyphicon-th-list"></i> 5.- Secciones 
          <span class="glyphicon glyphicon-chevron-down"></span>
        </a>
        <ul class="nav child_menu">

            <li class="{{#ifEq section.numero 1 }}current{{/ifEq}} {{# unless estudioId }}noPointer{{/unless}}">
                <a href="{{# if estudioId }}/seccion/paso/1{{else}}javascript:void(0){{/if}}">
                    Seccion 1
                </a>
            </li>
            <li class="{{#ifEq section.numero 2 }}current{{/ifEq}} {{# unless estudioId }}noPointer{{/unless}}">
                <a href="{{#if estudioId}}/seccion/paso/2{{else}}javascript:void(0){{/if}}">
                    Seccion 2
                </a>
            </li>
            <li class="{{#ifEq section.numero 3 }}current{{/ifEq}} {{# unless estudioId }}noPointer{{/unless}}">
                <a href="{{# if estudioId }}/seccion/paso/3{{else}}javascript:void(0){{/if}}">
                    Seccion 3
                </a>
            </li>
            <li class="{{#ifEq section.numero 4 }}current{{/ifEq}} {{# unless estudioId }}noPointer{{/unless}}">
                <a href="{{# if estudioId }}/seccion/paso/4{{else}}javascript:void(0){{/if}}">
                    Seccion 4
                </a>
            </li>
            <li class="{{#ifEq section.numero 5 }}current{{/ifEq}} {{# unless estudioId }}noPointer{{/unless}}">
                <a href="{{# if estudioId }}/seccion/paso/5{{else}}javascript:void(0){{/if}}">
                    Seccion 5
                </a>
            </li>
            <li class="{{#ifEq section.numero 6 }}current{{/ifEq}} {{# unless estudioId }}noPointer{{/unless}}">
                <a href="{{# if estudioId }}/seccion/paso/6{{else}}javascript:void(0){{/if}}">
                    Seccion 6
                </a>
            </li>
            <li class="{{#ifEq section.numero 7 }}current{{/ifEq}} {{# unless estudioId }}noPointer{{/unless}}">
                <a href="{{# if estudioId }}/seccion/paso/7{{else}}javascript:void(0){{/if}}">
                    Seccion 7
                </a>
            </li>
            <li class="{{#ifEq section.numero 8 }}current{{/ifEq}} {{# unless estudioId }}noPointer{{/unless}}">
                <a href="{{# if estudioId }}/seccion/paso/8{{else}}javascript:void(0){{/if}}">
                    Seccion 8
                </a>
            </li>

        </ul>
    </li>
</ul>
