<!DOCTYPE html>
<html>
  <head>
    {{> head}}

<script src="/sweetalert2/sweetalert2.min.js"></script>
<link rel="stylesheet" href="/sweetalert2/sweetalert2.min.css">
  </head>
  
  <body>  
    <div>
      {{> nav}}
      <div class="page-content" id="main-content">
        <div class="row">
         {{!--  <div class="col-sm-2">
            {{> sidenav }} 
          </div> --}}
          <div class="col-sm-12">
            <div class="row">
              <div class="col-sm-6">
                <h1>Hola {{user.username}}</h1>
              </div>
              <div class="col-sm-6">
                <button class="btn btn-warning pull-right" id="estudios-btn">Recargar</button>
              </div>
            </div>

            <div class="row">
              <div class="col-sm-12">
                <div class="panel panel-default">
                  <!-- Default panel contents -->
                  <div class="panel-heading">Estudios socioeconomicos</div>
                  <div class="panel-body">
                    <p>En esta secci贸n podras ver todos los estudios que haz realizado.</p>
                  </div>

                  <!-- Table -->
                  <table class="table">
                    <thead>
                      <tr>
                        <th>#</th>
                        <th>Direcci贸n</th>
                        <th>Fecha de creaci贸n</th>
                        <th>Fecha de edici贸n</th>
                        <th>Status</th>
                        <th>Editar</th>
                        <th>Borrar</th>
                      </tr>
                    </thead>
                    <tbody>
                      {{#each estudios}}
                      <tr>
                        <th scope="row"></th>
                        <td>{{this.calle}}, {{this.colonia}}, {{this.codigoPostal}}</td>
                        <td>{{this.createdDate}}</td>
                        <td>{{this.editedDate}}</td>
                        <td>{{this.status}}</td>
                        <td><a href="/estudio/family/?estudioId={{this._id}}"><button class="btn btn-warning btn-sm"><span class="glyphicon glyphicon-pencil"></span></button></a></td>
                        <td><button onclick="showDeleteMsg('{{this._id}}')" class="btn btn-danger btn-sm"><span class="glyphicon glyphicon-trash"></span></button></td>
                      </tr>
                      {{/each}}
                    </tbody>
                  </table>
                </div>                
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12">
                <a href="/estudio/family/" class="btn btn-success" id="crear-estudio">Crear estudio</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--Import jQuery before materialize.js-->
    <!--Import jQuery before materialize.js-->
    <script src="/jquery/jquery.js"></script>
    <script src="/bootstrap/js/bootstrap.min.js"></script>
    <script src="/js/dashboard.js"> </script>
  </body>
</html>
        