<!DOCTYPE html>
<html>
  <head>
    {{> head}}
  </head>
  
  <body>  
    <div>
      {{> nav}}
      <div class="page-content" id="main-content">
        <div class="row">
         {{!--  <div class="col-sm-2">
            {{> sidenav }} 
          </div> --}}
          <div class="col-sm-12">
            <div class="row">
              <div class="col-sm-6">
                <h1>Hola {{user.username}}</h1>
              </div>
              <div class="col-sm-6">
                <button class="btn btn-warning pull-right" id="estudios-btn">Recargar</button>
              </div>
            </div>

            <div class="row">
              <div class="col-sm-12">
                <div class="panel panel-default">
                  <!-- Default panel contents -->
                  <div class="panel-heading">Estudios socioeconomicos</div>
                  <div class="panel-body">
                    <p>En esta sección podras ver todos los estudios que haz realizado.</p>
                  </div>

                  <!-- Table -->
                  <table class="table">
                    <thead>
                      <tr>
                        <th>#</th>
                        <th>Nombre</th>
                        <th>Fecha</th>
                        <th>Status</th>
                      </tr>
                    </thead>
                    <tbody>
                      {{#each estudios}}
                      <tr>
                        <th scope="row">{{estudios._id}}</th>
                        <td>{{this.tokenCapturista}}</td>
                        <td>{{this.created}}</td>
                        <td>{{this.status}}</td>
                      </tr>
                      {{/each}}
                    </tbody>
                  </table>
                </div>                
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12">
                <a href="/estudio/crear/{{user.apiToken}}" class="btn btn-primary" id="crear-estudio">Crear estudio</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--Import jQuery before materialize.js-->
      <!--Import jQuery before materialize.js-->
      <script src="/jquery/jquery.js"></script>
      <script src="bootstrap/js/bootstrap.min.js"></script>
      <script src="/js/renderer.js"> </script>
  </body>
</html>
        