<!DOCTYPE html>
<html>
  <head>
    {{> head}}

<script src="/sweetalert2/sweetalert2.min.js"></script>
<link rel="stylesheet" href="/sweetalert2/sweetalert2.min.css">
  </head>

  <body>
    <div>
      {{> nav}}
      <div class="page-content" id="main-content">
        {{#if msg}}
          <div class="alert alert-info">
            <strong>{{msg}}</strong>
          </div>
        {{/if}}
        <div class="row">
          <div class="col-sm-2">
            {{> dashboardSidenav active}}
          </div>
          <div class="col-sm-10">
            <div class="row">
              <div class="col-sm-6">
                <h1>Hola {{user.username}}</h1>
              </div>
              <div class="col-sm-6">
                <button class="btn btn-warning pull-right" id="estudios-btn"> Recargar</button>
              </div>
            </div>

            <div class="row">
              <div class="col-sm-12">
                <div class="panel panel-default">
                  <!-- Default panel contents -->
                  <div class="panel-heading">Estudios socioeconomicos</div>
                  <div class="panel-body">
                    <p>En esta secci贸n podras ver todos los estudios que haz realizado.</p>
                  </div>

                  <!-- Table -->
                  <table class="table">
                    <thead>
                      <tr>
                        <th>Direcci贸n</th>
                        <th>Fecha de creaci贸n</th>
                        {{!-- <th>Fecha de edici贸n</th> --}}
                        <th>Status</th>
                        <th>Editar</th>
                        {{#ifEq active 'Borrador'}}
                        <th>Borrar</th>
                        {{/ifEq}}
                        {{#ifEq active 'Eliminado'}}
                        <th>Restaurar</th>
                        {{/ifEq}}                        
                      </tr>
                    </thead>
                    <tbody>
                      {{#each estudios}}
                      <tr>
                        <td>{{this.familia.calle}}, {{this.familia.colonia}}, {{this.familia.codigoPostal}}</td>
                        <td>{{this.createdDate}}</td>
                        {{!-- <td>{{this.editedDate}}</td> --}}
                        <td>{{this.status}}</td>
                        <td><a href="/estudio/?estudioId={{this._id}}"><button class="btn btn-warning btn-sm"><span class="glyphicon glyphicon-pencil"></span></button></a></td>
                        {{#ifEq this.status 'Borrador'}}
                        <td><button onclick="showDeleteMsg('{{this._id}}')" id="delete-estudio-{{this._id}}" class="btn btn-danger btn-sm"><span class="glyphicon glyphicon-trash"></span></button></td>
                        {{/ifEq}}
                        {{#ifEq this.status 'Eliminado'}}
                        <td><button onclick="showRestoreMsg('{{this._id}}')" id="restore-estudio-{{this._id}}" class="btn btn-info btn-sm"><span class="glyphicon glyphicon-repeat"></span></button></td>
                        {{/ifEq}}
                      </tr>
                      {{/each}}
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12">
                <a href="/estudio/" class="btn btn-success" id="crear-estudio"> <span class="glyphicon glyphicon-plus"></span> Crear estudio</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    {{> scripts }}
    <script src="/js/dashboard.js"> </script>
  </body>
</html>
