{{#>  layouts/base_dashboard page_title="Captura de Estudios" which_side="sideNavPasos" }}
{{#*inline "panel-block"}}
  {{#if error_message}}
    <div class="alert alert-danger">
      <span id="error_message"><strong>{{error_message}}</strong></span>
    </div>
  {{/if}}
<div class="row" id="members-section">
  <div class="col-xs-12">
    <h1>Miembros</h1>
    <div class="row">
      <div class="col-xs-10 col-xs-offset-1">
        <h3>En esta sección podras agregar a todos los miembros de una familia.</h3>
      </div>
    </div>
    <div class="x_content">
      <div class="row">
        <button id="add-member-button" class="btn btn-success pull-right" data-toggle="modal" href="#memberModal" data-member=""><span class="glyphicon glyphicon-plus" area-hidden="true"></span> Agregar miembro</button>
      </div>
      <table id="datatable" class="table table-striped table-bordered">
        <thead>
          <tr>
            <th>Rol</th>
            <th>Nombre</th>
            <th>Teléfono</th>
            <th>Nivel de estudios</th>
            <th>Fecha de nacimiento</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
          {{#each members}}
          <tr>
            <td>{{this.relacion}}</td>
            <td>{{this.nombres}} {{this.apellidos}}</td>
            <td>{{this.telefono}}</td>
            <td>{{this.nivelEstudios}}</td>
            <td>{{date this.fechaNacimiento}}</td>
            <th>
            <button class="btn btn-primary btn-sm editMember"  id="edit-member-button-{{this._id}}" data-memberid="{{this._id}}" data-toggle="modal" href="#editMemberModal-{{this._id}}"><span class="glyphicon glyphicon-pencil"></span> Editar</button>
            <button onclick="showDeleteMember('{{this._id}}')" id="delete-member-{{this._id}}" class="btn btn-danger btn-sm"><span class="glyphicon glyphicon-trash"></span> Borrar</button>
            </th>
          </tr>
          {{>  editMemberModal schools=../schools}}
          {{/each}}
        </tbody>
      </table>
    </div>    
    <div class="row text-center">
      <div class="col-xs-6">
        <a href="/family">
          <button class="btn btn-danger pull-right" id="show-members-view">
            <i class="glyphicon glyphicon-arrow-left"></i> Familia</button>
        </a>
      </div>
      <div class="col-xs-6">
        <a href="/transactions">
          <button class="btn btn-danger pull-left" id="show-transactions-view">Ingresos y Egresos <i class="glyphicon glyphicon-arrow-right"></i></button>
        </a>
      </div>
    </div>          
  </div>
</div>
{{!-- modals --}}
{{> addMemberModal }}              
{{/inline}}
{{#*inline "scripts-block"}}
<script src="/js/dateTime.min.js"></script>
<script src="/js/member.js"> </script>
<script src="/js/validator.min.js"> </script>
{{/inline}}

{{/ layouts/base_dashboard}}

