<!DOCTYPE html>
<html lang="en">
  <head>
    <title>
    Titulo
    </title>
    {{> head }}
  </head>
  <!-- Hello, world! -->
  <body class="nav-md">
    <div class="container body">
      <div class="main_container">
        <div class="col-md-3 left_col">
          <div class="left_col scroll-view">
            <div class="navbar nav_title" style="border: 0;">
              <a href="/" class="site_title">
                <i class="fa fa-bank"></i> 
                Instituto Juan Pablo Segundo
              </a>
            </div>

            <div class="clearfix"></div>

            <!-- menu profile quick info -->
            <div class="profile clearfix">
          
              <div class="profile_info">
                <span>Bienvenido</span>
                <h2>Nombre Usuario</h2>
              </div>
              <div class="clearfix"></div>
            </div>
            <!-- /menu profile quick info -->

            <br />

            <!-- sidebar menu -->
            <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
              <div class="menu_section">
                {{> sideNavPasos }}
              </div>

            </div>
            <!-- /sidebar menu -->
          </div>
        </div>

        <!-- top navigation -->
        <div class="top_nav">
          {{> nav }}
        </div>
        <!-- /top navigation -->

        <!-- page content -->
        <div class="right_col" role="main" id="members-section">
          <div class="page-content container">

            <div class="row">
            <div class="col-xs-12">
              <h1>Miembros</h1>
              <div class="row">
                <div class="col-xs-10 col-xs-offset-1">
                  <h3>En esta sección podras agregar a todos los miembros de una familia.</h3>
                </div>
              </div>
              <div class="x_content">
                <div class="row">
                  <button id="add-member-button" class="btn btn-success pull-right" data-toggle="modal" href="#memberModal" data-member=""><span class="glyphicon glyphicon-plus" area-hidden="true"></span> Agregar miembro</button>
                </div>
                <table id="datatable" class="table table-striped table-bordered">
                  <thead>
                    <tr>
                      <th>Rol</th>
                      <th>Nombre</th>
                      <th>Teléfono</th>
                      <th>Nivel de estudios</th>
                      <th>Fecha de nacimiento</th>
                      <th>Acciones</th>
                    </tr>
                  </thead>
                  <tbody>
                    {{#each members}}
                    <tr>
                      <td>{{this.relacion}}</td>
                      <td>{{this.nombres}} {{this.apellidos}}</td>
                      <td>{{this.telefono}}</td>
                      <td>{{this.nivelEstudios}}</td>
                      <td>{{this.fechaNacimiento}}</td>
                      <th>
                      <button class="btn btn-primary btn-sm editMember"  id="edit-member-button-{{this._id}}" data-memberid="{{this._id}}" data-toggle="modal" href="#editMemberModal-{{this._id}}"><span class="glyphicon glyphicon-pencil"></span> Editar</button>
                      <button onclick="showDeleteMember('{{this._id}}')" id="delete-estudio-{{this._id}}" class="btn btn-danger btn-sm"><span class="glyphicon glyphicon-trash"></span> Borrar</button>
                      </th>
                    </tr>
                    {{> editMemberModal this }}
                    {{!-- <p>{{json this}}</p> --}}
                    {{/each}}
                  </tbody>
                </table>
              </div>              
            </div>
          </div>
          {{!-- modals --}}
          {{> addMemberModal }}
          </div>
        </div>
        <!-- /page content -->
      </div>
    </div>
    {{> scripts }}
    <script src="/js/dateTime.min.js"></script>
    <script src="/js/member.js"> </script>
    <script src="/js/validator.min.js"> </script>
  </body>
</html>
