{{#>  layouts/base_dashboard page_title="Captura de Estudios" which_side="sideNavPasos" }}
{{#*inline "panel-block"}}
<div class="row">
<div class="col-xs-12">
  <h1><small>Seccion {{section.numero}}:</small> {{section.nombre}}</h1>

{{# each section.subsecciones}}
<!-- {% for subseccion in data %} -->
<div class="col-md-12 col-xs-12">
  <div class="x_panel">
    <div class="x_title">
      <h2 class="subseccion_title">
        <small>Subsección: </small>{{this.nombre}}
    </h2>
      <div class="clearfix"></div>
    </div>
    <div class="x_content">
      {{#each this.preguntas }}    
        <div id="question-container-{{this.idApi}}" class="question-container">
          <h4 class="question_title">{{this.texto}}{{#if this.descripcion }}<small> - {{this.descripcion}}</small>{{/if}}</h4>
          <div class="divider-dashed"></div>
          {{!-- Eleccion --}}
          {{#if this.opcionesRespuesta}}
            {{#each this.opcionesRespuesta }}
            {{#lookSelect ../this.idApi ../../../respuestas}}
              <input type="radio" class="select_question add-select" name="{{../../../../section.numero}}-{{../../../this.numero}}-{{../../this.orden}}" value="{{../../this.idApi}}_{{../this.idApi}}" {{# ifEq ../this.idApi this}} checked {{/ifEq}}><span class="select_question_text">{{../this.texto}}</span><br>
            {{/lookSelect}}
            {{/each}}
            <br>
          {{else}}
          {{!-- Respuestas --}}
            <ul id="ul_{{this.idApi}}" style="list-style-type: none;">
            {{#lookQuestions this.idApi ../../respuestas}}
            {{!-- Si hay guardadas --}}
            {{#if this}}
              {{#each this}}
              <li class="sectionAnswer" id="li_ans_{{../../this.idApi}}_{{@index}}">
              <input type="text" id="{{../../../../section.numero}}-{{../../../this.numero}}-{{../../this.orden}}-{{@index}}" name="{{../../../../section.numero}}-{{../../../this.numero}}-{{../../this.orden}}-{{@index}}" placeholder="No hay respuesta." value="{{this}}" onchange="sendAnswer('{{../../this.idApi}}',this.value,'{{@index}}')"> 
              <a id="remove_{{../../../this.numero}}_{{../../this.orden}}_{{../../this.idApi}}_{{@index}}" class="btn btn-danger remove-answer" href="javascript:void(0)">
                  -
              </a>
              </li>
              {{/each}}

            {{else}}
            {{!-- Nueva --}}
              <li class="sectionAnswer" id="li_ans_{{../this.idApi}}_0">
              <input type="text" id="{{../../../section.numero}}-{{../../this.numero}}-{{../this.orden}}-0" name="{{../../../section.numero}}-{{../../this.numero}}-{{../this.orden}}-0" placeholder="No hay respuesta." onchange="sendAnswer('{{../this.idApi}}',this.value,0)"> 
              <a id="remove_{{../../this.numero}}_{{../this.orden}}_{{../this.idApi}}_0" class="btn btn-danger remove-answer" href="javascript:void(0)">
                  -
              </a>
              </li>
            {{/if}}
            {{/lookQuestions}}
            </ul>
            <div class="text-center">
                <a id="add_{{../this.numero}}_{{this.orden}}_{{this.idApi}}" class="btn btn-success add-answer" href="javascript:void(0)">
                    <strong>+</strong> Agregar Respuesta
                </a>
            </div>
            <br>
            <br>
          {{/if}}               
        
        </div>
      {{/each }}
    </div>
  </div>
</div>
{{/each }}

<div class="row form-group">
    <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3"></div>
    <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3"> 
       {{#ifGt section.numero 1 }}
            <button id="previous_section_button" type="submit" class="btn btn-success">
                Anterior
            </button>
       {{/ifGt }}
    </div>
    <div class="col-xs-12 col-sm-1 col-md-1 col-lg-1"></div>
    <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">   
        <button id="next_section_button" type="submit" class="btn btn-success"> 
            Siguiente
        </button>
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2"></div>
</div>

</div>
</div>
{{/inline}}

{{#*inline "scripts-block"}}
<script src="/js/dateTime.min.js"></script>
<script src="/js/validator.min.js"> </script>
<script type="text/javascript">
function appendClickRemove(){
  $('.remove-answer').click(function() {
    let ids = $(this).attr('id').split('_');
    let id_question = ids[3];
    let remove_id = ids[4];
    let ul = $('#ul_'+id_question);
    let lis = ul.find('li');
    let lisNum = lis.length;
    let values = [];
    let inputs = []
    let remove_li;
    let valid = true;
    for (var i = 0; i < lisNum; i++) {
      inputs.push($(lis[i]).find('input')[0]);
      if (i != remove_id)
        values.push(inputs[i].value);
      else{
        remove_li = lis[i];
        if(inputs[i].value == "")
          valid = false;
      }
    }
    if(valid)
      remAnswer(id_question, values, inputs, remove_li);
    else
      swal(
        '¡Error!',
        'Esta respuesta esta vacia',
        'error'
      );
  });
}
appendClickRemove();

$('.add-answer').click(function() {
  let ids = $(this).attr('id').split('_');
  let id_question = ids[3];
  let ul = $('#ul_'+id_question);
  let lis = ul.find('li');
  let lisNum = lis.length;
  let valid = true;
  for (var i = 0; i < lisNum; i++) {
    if($(lis[i]).find('input')[0].value === ""){
      valid = false;
    }
  }
  if(valid){
    ul.append('<li class="sectionAnswer">\
         <input type="text" id="{{section.numero}}-'+ids[1]+'-'+ids[2]+'-'+lisNum+'" \
         name="{{section.numero}}-'+ids[1]+'-'+ids[2]+'-'+lisNum+'" placeholder="No hay respuesta." \
         onchange="sendAnswer('+id_question+',this.value,'+lisNum+')">\
         <a id="remove_'+ids[1]+'_'+ids[2]+'_'+id_question+'_'+lisNum+'" class="btn btn-danger remove-answer" href="javascript:void(0)">-</a></li>'
         );    
    appendClickRemove();
  } else {
    swal(
      '¡Error!',
      'Hay respuestas vacias',
      'error'
    );
  }
});


$('.add-select').click(function() {
  let ids = $(this).attr('value').split('_');
  sendElection(ids[0],ids[1]);
});


function sendAnswer(idQuestion, valor, index){
  $.ajax({
    url : '/estudio/answer/',
    method : "POST",
    data : {
      "id_estudio"  : '{{estudioId}}', 
      "id_seccion"  : '{{section.numero}}', 
      "id_pregunta" : idQuestion,
      "answer"      : valor,
      "index"       : index
    },
    success : function(response) {
      console.log(response)
      // append_anwser(id_question, response);
    },
    error : function(error){
      console.log(error);
    }
  });
}

function remAnswer(idQuestion, values, inputs, remove_li){
  $.ajax({
    url : '/estudio/answer/remove',
    method : "POST",
    data : {
      "id_estudio"  : '{{estudioId}}', 
      "id_pregunta" : idQuestion
    },
    success : function(response) {
      // append_anwser(id_question, response);
      for (var i = 0; i < values.length; i++) {
        inputs[i].value = values[i];
        $(inputs[i]).trigger("change");
      }
      $(remove_li).remove();
    },
    error : function(error){
      console.log(error);
      swal(
        '¡Error!',
        'Hubo un error al borrar la respuesta',
        'error'
      );
    }
  });
}

function sendElection(idQuestion, idElect){
  $.ajax({
    url : '/estudio/answer/election',
    method : "POST",
    data : {
      "id_estudio"  : '{{estudioId}}', 
      "id_seccion"  : '{{section.numero}}', 
      "id_pregunta" : idQuestion,
      "answer"      : idElect,
    },
    success : function(response) {
      console.log(response)
      // append_anwser(id_question, response);
    },
    error : function(error){
      console.log(error);
    }
  });
}
</script>
{{/inline}}

{{/ layouts/base_dashboard}}
